<div class="home">
    <div class="container-fluid display-table">
        <div class="row display-table-row">
            <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
                <div class="logo">
                    <a hef="home.html"><img src="assets/222.jpg" style="width:70px;height:auto;border-radius:6px" alt="merkery_logo" class="hidden-xs hidden-sm">
                        <img src="assets/222.jpg" alt="merkery_logo" class="visible-xs visible-sm circle-logo">
                    </a>
                </div>
                <div class="navi">
                    <ul>
                        <li class="active"><a routerLink="/dashboard"><i class="fa fa-dashboard" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Dashboard</span></a></li>
                        <li><a routerLink="/categorie"><i class="fa fa-list" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Categorie</span></a></li>
                        <li><a routerLink="/document"><i class="fa fa-file-text-o" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Document</span></a></li>
                        <li><a routerLink="/actualite"><i class="fa fa-calendar" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Actualité</span></a></li>
                        <li><a routerLink="/user"><i class="fa fa-users" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Utilisateur</span></a></li>
                        <li><a routerLink="/demande-document"><i class="fa fa-cog" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Commande</span></a></li>
                        <li><a routerLink="/list-contact"><i class="fa fa-file" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Contact</span></a></li>
                        
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-sm-11 display-table-cell v-align">
                <!--<button type="button" class="slide-toggle">Slide Toggle</button> -->
                <div class="row">
                    <header>
                        <div class="col-md-7">
                            
                            <div class="search hidden-xs hidden-sm">
                                <input type="text" placeholder="Search" id="search">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="header-rightside">
                                <ul class="list-inline header-top pull-right">
                                    <li class="hidden-xs"><a href="#" class="add-project" (click)="logout()" ><i class="fa fa-sign-out"></i> &nbsp; Logout</a></li>
                                    &nbsp;
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="assets/saber.jpg" alt="user">
                                            <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <div class="navbar-content">
                                                    <span>JDIDI Saber</span>
                                                    <p class="text-muted small">
                                                        saber@gmail.com
                                                    </p>
                                                    <div class="divider">
                                                    </div>
                                                    <a href="#" class="view btn-sm active">View Profile</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </header>
                </div>
                <div class="user-dashboard">
                    <h1>Gestion de documentation électronique</h1>

                    <table>
                        <tr>
                            <td style="width:700px; height:50%"><canvas id="lineChart"></canvas></td>
                            <td style="width:700px; height:50%"><canvas id="barChart"></canvas></td>
                        </tr>
                    </table>
                    
                </div>
            </div>
        </div>

    </div>



    <!-- Modal -->
    <div id="add_project" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header login-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Add Project</h4>
                </div>
                <div class="modal-body">
                            <input type="text" placeholder="Project Title" name="name">
                            <input type="text" placeholder="Post of Post" name="mail">
                            <input type="text" placeholder="Author" name="passsword">
                            <textarea placeholder="Desicrption"></textarea>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="cancel" data-dismiss="modal">Close</button>
                    <button type="button" class="add-project" data-dismiss="modal">Save</button>
                </div>
            </div>

        </div>
    </div>

</div>