/* You can add global styles to this file, and also import other style files */

body{
    background : url("assets/666.jpg") no-repeat;
    background-size: cover;
    background-color: blanchedalmond;

}