<div class="container">
  <br><br><br>
  <div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-login">
      <div class="panel-heading">
        <div class="row">
          
          <div class="col-xs-6">
           &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <a href="#" class="active" >Register</a>
          </div>
        </div>
        <hr>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12">
            <form [formGroup]="registerForm"   style="display: block;">
              <div class="form-group">
                <input type="text"  class="form-control" formControlName="nom" placeholder="nom" >
              </div>
              <div class="form-group">
                <input type="text"  class="form-control" formControlName="prenom" placeholder="prenom" >
              </div>
              <div class="form-group">
                <input type="text"  class="form-control" formControlName="email" placeholder="email" >
              </div>
              <div class="form-group">
                <input type="password"  class="form-control" formControlName="password" placeholder="password">
              </div>
              
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-6 col-sm-offset-3">
                    <button type="submit"  class="form-control btn btn-register" (click)="addRegister()" >Register</button>
                  </div>
                </div>
              </div>
              
            </form>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>